force-app/main/default/flows/Evaluate_Activity_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Last_Activity_Subject</name>
        <label>Assign Last Activity Subject</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>LastActivitySubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastActivitySubjectFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Next_Activity_Date</name>
        <label>Assign Next Activity Date</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NextActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextActivity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Next_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Next_Step</name>
        <label>Assign Next Step</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextStepFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Last_Activity_Subject</targetReference>
        </connector>
    </assignments>
    <description>This sub-flow evaluates Activity fields which are populated on Account and Deal records.</description>
    <environments>Default</environments>
    <formulas>
        <name>LastActivitySubjectFormula</name>
        <dataType>String</dataType>
        <expression>IF(AND(NOT(ISNULL({!Get_Last_Completed_Task.ActivityDate})),NOT(ISNULL({!Get_Last_Completed_Event.ActivityDate}))), IF({!Get_Last_Completed_Task.ActivityDate}&gt;{!Get_Last_Completed_Event.ActivityDate}, {!Get_Last_Completed_Task.Subject}, {!Get_Last_Completed_Event.Subject}), IF(ISNULL({!Get_Last_Completed_Task.ActivityDate}), {!Get_Last_Completed_Event.Subject}, {!Get_Last_Completed_Task.Subject}))</expression>
    </formulas>
    <formulas>
        <name>NextActivity</name>
        <dataType>Date</dataType>
        <expression>IF(AND(NOT(ISNULL({!Get_Upcoming_Open_Task.ActivityDate})),NOT(ISNULL({!Get_Upcoming_Open_Event.ActivityDate}))), IF({!Get_Upcoming_Open_Task.ActivityDate}&lt;{!Get_Upcoming_Open_Event.ActivityDate}, {!Get_Upcoming_Open_Task.ActivityDate}, {!Get_Upcoming_Open_Event.ActivityDate}), 
IF(ISNULL({!Get_Upcoming_Open_Task.ActivityDate}), {!Get_Upcoming_Open_Event.ActivityDate}, {!Get_Upcoming_Open_Task.ActivityDate}))</expression>
    </formulas>
    <formulas>
        <name>NextStepFormula</name>
        <dataType>String</dataType>
        <expression>IF(AND(NOT(ISNULL({!Get_Upcoming_Open_Task.ActivityDate})),NOT(ISNULL({!Get_Upcoming_Open_Event.ActivityDate}))), IF({!Get_Upcoming_Open_Task.ActivityDate}&lt;{!Get_Upcoming_Open_Event.ActivityDate}, {!Get_Upcoming_Open_Task.Subject}, {!Get_Upcoming_Open_Event.Subject}), IF(ISNULL({!Get_Upcoming_Open_Task.ActivityDate}), {!Get_Upcoming_Open_Event.Subject}, {!Get_Upcoming_Open_Task.Subject}))</expression>
    </formulas>
    <interviewLabel>Next Step and Next Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Evaluate Activity Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Last_Completed_Event</name>
        <label>Get Last Completed Event</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Next_Activity_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDateTime</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>EventId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>ActivityDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Completed_Task</name>
        <label>Get Last Completed Task</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Completed_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Upcoming_Open_Event</name>
        <label>Get Upcoming Open Event</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Completed_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>EventId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>ActivityDateTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Upcoming_Open_Task</name>
        <label>Get Upcoming Open Task</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Upcoming_Open_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Upcoming_Open_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastActivitySubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NextActivityDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NextStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
