force-app/main/default/flows/Event_Update_Next_Step_and_Activity_OnDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Related_To_Object_is</name>
        <label>Related To Object is</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Update_Deal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deal</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Event - Update Next Step and Activity - OnDelete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Update Next Step and Activity - OnDelete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Activity_Subject__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Related_To_Id.LastActivitySubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Activity_Date__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Related_To_Id.NextActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Related_To_Id.NextStep</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Deal</name>
        <label>Update Deal</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Activity_Subject__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Related_To_Id.LastActivitySubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Activity__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Related_To_Id.NextActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Related_To_Id.NextStep</elementReference>
            </value>
        </inputAssignments>
        <object>Deal__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Activity_Fields_for_Related_To_Id</targetReference>
        </connector>
        <filterFormula>IF(OR(BEGINS({!$Record.WhatId}, &apos;001&apos;),BEGINS({!$Record.WhatId}, &apos;a1Y&apos;)), TRUE, FALSE)</filterFormula>
        <object>Event</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Activity_Fields_for_Related_To_Id</name>
        <label>Get Activity Fields for Related To Id</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Related_To_Object_is</targetReference>
        </connector>
        <flowName>Evaluate_Activity_Fields</flowName>
        <inputAssignments>
            <name>EventId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
