force-app/main/default/flows/Task_Update_Next_Step_and_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Current_RelatedTo_Object_is</name>
        <label>Current RelatedTo Object is</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Update_Current_Deal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deal</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_RelatedTo_Object_is</name>
        <label>Prior RelatedTo Object is</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Prior_Deal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deal</defaultConnectorLabel>
        <rules>
            <name>AccountPrior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prior_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Created_and_Condition_Matched</name>
        <label>Task Created and Condition Matched</label>
        <locationX>380</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewMatching</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Activity_Fields_for_Current_Related_To_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Task record is updated and the prior record has WhatId as either Account or Deal.</description>
        <name>Task_Updated_and_Condition_Matched</name>
        <label>Task Updated and Condition Matched</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Task_Created_and_Condition_Matched</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorMatching</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Activity_Fields_for_Prior_Related_To_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewMatching</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(BEGINS({!$Record.WhatId}, &apos;001&apos;),BEGINS({!$Record.WhatId}, &apos;a1Y&apos;)), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>PriorMatching</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(NOT(ISNEW()),OR(BEGINS({!$Record__Prior.WhatId}, &apos;001&apos;),BEGINS({!$Record__Prior.WhatId}, &apos;a1Y&apos;))), TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Task - Update Next Step and Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Update Next Step and Activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Current_Account</name>
        <label>Update Current Account</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Activity_Subject__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Current_Related_To_Id.LastActivitySubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Activity_Date__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Current_Related_To_Id.NextActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Current_Related_To_Id.NextStep</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Deal</name>
        <label>Update Current Deal</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Activity_Subject__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Current_Related_To_Id.LastActivitySubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Activity__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Current_Related_To_Id.NextActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Current_Related_To_Id.NextStep</elementReference>
            </value>
        </inputAssignments>
        <object>Deal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prior_Account</name>
        <label>Update Prior Account</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Task_Created_and_Condition_Matched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Activity_Subject__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Prior_Related_To_Id.LastActivitySubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Activity_Date__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Prior_Related_To_Id.NextActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Prior_Related_To_Id.NextStep</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prior_Deal</name>
        <label>Update Prior Deal</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Task_Created_and_Condition_Matched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Activity_Subject__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Prior_Related_To_Id.LastActivitySubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Activity__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Prior_Related_To_Id.NextActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>Get_Activity_Fields_for_Prior_Related_To_Id.NextStep</elementReference>
            </value>
        </inputAssignments>
        <object>Deal__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Task_Updated_and_Condition_Matched</targetReference>
        </connector>
        <filterFormula>IF(OR(BEGINS({!$Record.WhatId}, &apos;001&apos;),BEGINS({!$Record.WhatId}, &apos;a1Y&apos;),BEGINS({!$Record__Prior.WhatId}, &apos;001&apos;),BEGINS({!$Record__Prior.WhatId}, &apos;a1Y&apos;)), TRUE, FALSE)</filterFormula>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Activity_Fields_for_Current_Related_To_Id</name>
        <label>Get Activity Fields for Current Related To Id</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Current_RelatedTo_Object_is</targetReference>
        </connector>
        <flowName>Evaluate_Activity_Fields</flowName>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Activity_Fields_for_Prior_Related_To_Id</name>
        <label>Get Activity Fields for Prior Related To Id</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Prior_RelatedTo_Object_is</targetReference>
        </connector>
        <flowName>Evaluate_Activity_Fields</flowName>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record__Prior.WhatId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
